@use '../media' as *;

.catalog {
    --catalogRowGap: 30px;
    display: flex;
    flex-direction: column;
    row-gap: var(--catalogRowGap);
    padding-top: 30px;
    
    @include desktop {
        --catalogRowGap: 50px;
    }
}

.category {
    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
}

.menu {
    --menuColumnGap: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: var(--menuColumnGap);

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @include tablet {
        --menuColumnGap: 12px;
    }

    &__button {
        scroll-snap-align: start;
    }
}