@use '../media' as *;

.catalog {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 30px;
}

.category {
    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
}

.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 8px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @include tablet {
        column-gap: 12px;
    }

    &__button {
        scroll-snap-align: start;
    }
}