@use '../variables' as *; 
@use '../media' as *; 
@use '../mixins' as *; 
@use 'sass:color' as *;

.header {
    --circleRadius: 0.95vw;
    --circleRadiusPerc: calc(var(--circleRadius) * 100);
    --headerHeight: 100svh;
    --bannerAspect: 1.09;
    --bannerWidth: 176px;
    position: relative;
    height: var(--headerHeight);
    
    @include xs{
        --circleRadius: 3vw;
    }

    @include tablet{
        --circleRadius: 1.65vw;
        --headerHeight: 350px;
    }

    @include desktop{
        --circleRadius: 1.44vw;
        --headerHeight: 466px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;

        padding-block: 20px 0px;
        color: var(--colorLight);
    }

    &__title-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;

        padding-block: 0 248px;

        background: bottom / var(--bannerWidth) auto no-repeat url(/assets/svg/banner.svg);
}

    &__title {
        @include text-clamp(30, 50);
        line-height: 1.24;

        text-align: center;
        em{
            color: var(--colorAccent);
            font-style: normal;
        }
    }

    &__appeal{
        @include text-clamp(12, 16);
    }

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        z-index: -2;
        
        background-color: var(--colorPrimary);

        @include tablet {
            display: none;
        }
    }
    
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background-color: var(--colorPrimary);
        clip-path: circle(var(--circleRadiusPerc) at left 50% bottom var(--circleRadiusPerc));
    }
}