@use '../variables' as *;
@use '../media' as *;
@use '../mixins' as *;
@use 'sass:color' as *;

.header {
    --circleRadius: 0.95vw;
    --circleRadiusPerc: calc(var(--circleRadius) * 100);
    --bannerAspect: 0.87;
    --bannerWidth: 176px;
    position: relative;

    @include xs {
        --circleRadius: 3vw;
    }

    @include tablet {
        --circleRadius: 1.65vw;
    }

    @include desktop {
        --circleRadius: 1.44vw;
        --bannerWidth: 253px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        row-gap: 24px;
        
        padding-block: 24px 30px;
        color: var(--colorLight);
        
        @include tablet {
            padding-block: 24px 44px;
            row-gap: 23px;
        }

        @include desktop {
            padding-block: 22px 63px;
            row-gap: 24px;
        }

        @include desktop-l {
            padding-block: 22px 72px;
            row-gap: 24px;
        }
    }

    &__logo {
        text-align: center;
    }

    &__info {
        --infoPaddingTop: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 24px;
        width: 100%;
        // max-width: 784px;

        @include tablet {
            // padding: 18px 20px 10px 134px;
            padding-block: 18px 10px;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            column-gap: 35px;

        }

        @include desktop {
            column-gap: 38px;
            padding-block: 25px 10px;
        }
        
        @include desktop-l {
            column-gap: 57px;
            padding-block: 26px 10px;
        }
    }

    &__banner {
        &-image {
            width: var(--bannerWidth);
            aspect-ratio: var(--bannerAspect);
        }

        @include tablet {
            order: -1;
        }
    }
    
    &__title-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        
        @include tablet {
            align-items: start;            
        }
        
        @include desktop {
            row-gap: 52px;
        }
    }

    &__title {
        font-size: 3rem;
        line-height: 1.2;
        
        text-align: center;
        
        @include tablet {
            padding-top: 8px;
            text-align: left;
            font-size: 3.6rem;
        }

        @include desktop {
            padding-top: 20px;
            font-size: 5rem;
        }
        
        em {
            color: var(--colorAccent);
            font-style: normal;
        }
    }
    
    &__appeal {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.6rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        z-index: -2;

        background-color: var(--colorPrimary);

        @include tablet {
            display: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background-color: var(--colorPrimary);
        clip-path: circle(var(--circleRadiusPerc) at left 50% bottom var(--circleRadiusPerc));
    }
}