@use '../media' as *;

.ingredients {
    font-size: 1rem;
    
    @include desktop {
        font-size: 1.2rem;
    }

    &__title {
        margin-bottom: 4px;
        font-style: normal;
        font-weight: 600;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2px;

        margin-bottom: 4px;
    }

    &__power {
        color: var(--textColorSecondary);
    }
}