.ingredients {
    &__title {
        margin-bottom: 4px;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2px;

        margin-bottom: 4px;

        font-size: 1rem;
    }

    &__power {
        color: var(--textColorSecondary);
    }
}