@use '../media' as *;
@use '../elevation' as *;

.order {
    background-color: var(--colorLight);
    
    &__item{
        display: flex;
        align-items: center;
        column-gap: 6px;
        padding-block: 10px;
        
        border-bottom: 1px solid var(--colorBgAlt);
        
        @include desktop {
            padding-block: 16px;
        }

        &:first-child {
            border-top: 1px solid var(--colorBgAlt);
        }

        &-image {
            width: 64px;
            height: 52px;
            border-radius: 8px;
        }
    }

    &__product {
        flex-grow: 1;
        font-size: 1.2rem;

        &-title {
            font-weight: 400;
        }
    }
}

.order {
    --orderBorderRadius: 8px;
    position: relative;
    max-width: 100%;
    min-height: 48px;

    @include tablet {
        width: calc(3 * var(--gridColumnWidth));
    }

    @include desktop {
        --orderBorderRadius: 12px;
        width: var(--gridColumnWidth);
        min-width: var(--gridColumnWidth);
    }

    &__inner {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        background-color: var(--colorLight);
        border-radius: var(--orderBorderRadius);

        padding: 16px 10px;

        @include desktop-below {
            @include elevate;
        }

        @include desktop {
            align-self: start;
        }
    }


    &__summary {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &-name {
            font-size: 1.6rem;

            @include desktop {
                font-size: 2.4rem;
            }
        }

        &-count {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            width: 32px;
            height: 16px;
            
            border-radius: 6px;
            background-color: var(--colorBgAlt);
            
            @include desktop {
                width: 40px;
                height: 20px;
                font-size: 1.2rem;
            }
        }

    }

    &__list-container {
        padding-top: 8px;
        background-color: var(--colorLight);

        @include desktop {
            padding-top: 12px;
        }

        @include desktop-below {
            .order__summary-toggler:not(:checked)+& {
                display: none;
            }
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        font-size: 1.2rem;

        @include desktop {
            margin-top: 16px;
            font-size: 1.6rem;
        }
    }

    &__submit {
        margin-top: 19px;
        font-size: 1.2rem;

        width: 100%;

        @include desktop {
            margin-top: 24px;
            font-size: 1.6rem;
        }

    }

    &__footer {
        --orderFooterHeight: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        height: var(--orderFooterHeight);
        font-size: 1rem;

        @include desktop {
            font-size: 1.2rem;
        }

        &-appeal {
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 32px;
            background: left center / var(--orderFooterHeight) var(--orderFooterHeight) no-repeat url(/assets/img/icons/delivery.webp);
        }

        &-hide {
            cursor: pointer;
            color: var(--textColorSecondary);
        }
    }
}