<menu class="category__menu">
    <li class="category__menu-item">
        <article class="category__card card card--vertical"
            aria-label="карточка продукта">
            <img src="/assets/img/card-burger.webp"
                class="card__image"
                aria-label="изображение продукта" />
            <div class="card__body">
                <div class="card__info">
                    <p class="card__price">
                        <span class="card__price-value">689</span>
                        <span class="card__price-unit">₽</span>
                    </p>
                    <p class="card__name">Мясная бомба</p>
                    <p class="card__weight">
                        <span class="card__weight-value">520</span>
                        <span class="card__weight-unit">&nbsp;г</span>
                    </p>
                </div>
                <button class="button button_card__action">Добавить</button>
            </div>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__card card card--vertical"
            aria-label="карточка продукта">
            <img src="/assets/img/card-burger.webp"
                class="card__image"
                aria-label="изображение продукта" />
            <div class="card__body">
                <div class="card__info">
                    <p class="card__price">
                        <span class="card__price-value">689</span>
                        <span class="card__price-unit">₽</span>
                    </p>
                    <p class="card__name">Мясная бомба</p>
                    <p class="card__weight">
                        <span class="card__weight-value">520</span>
                        <span class="card__weight-unit">&nbsp;г</span>
                    </p>
                </div>
                <button class="button button_card__action">Добавить</button>
            </div>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__card card card--vertical"
            aria-label="карточка продукта">
            <img src="/assets/img/card-burger.webp"
                class="card__image"
                aria-label="изображение продукта" />
            <div class="card__body">
                <div class="card__info">
                    <p class="card__price">
                        <span class="card__price-value">689</span>
                        <span class="card__price-unit">₽</span>
                    </p>
                    <p class="card__name">Мясная бомба</p>
                    <p class="card__weight">
                        <span class="card__weight-value">520</span>
                        <span class="card__weight-unit">&nbsp;г</span>
                    </p>
                </div>
                <button class="button button_card__action">Добавить</button>
            </div>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__card card card--vertical"
            aria-label="карточка продукта">
            <img src="/assets/img/card-burger.webp"
                class="card__image"
                aria-label="изображение продукта" />
            <div class="card__body">
                <div class="card__info">
                    <p class="card__price">
                        <span class="card__price-value">689</span>
                        <span class="card__price-unit">₽</span>
                    </p>
                    <p class="card__name">Мясная бомба</p>
                    <p class="card__weight">
                        <span class="card__weight-value">520</span>
                        <span class="card__weight-unit">&nbsp;г</span>
                    </p>
                </div>
                <button class="button button_card__action">Добавить</button>
            </div>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__card card card--vertical"
            aria-label="карточка продукта">
            <img src="/assets/img/card-burger.webp"
                class="card__image"
                aria-label="изображение продукта" />
            <div class="card__body">
                <div class="card__info">
                    <p class="card__price">
                        <span class="card__price-value">689</span>
                        <span class="card__price-unit">₽</span>
                    </p>
                    <p class="card__name">Мясная бомба</p>
                    <p class="card__weight">
                        <span class="card__weight-value">520</span>
                        <span class="card__weight-unit">&nbsp;г</span>
                    </p>
                </div>
                <button class="button button_card__action">Добавить</button>
            </div>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__card card card--vertical"
            aria-label="карточка продукта">
            <img src="/assets/img/card-burger.webp"
                class="card__image"
                aria-label="изображение продукта" />
            <div class="card__body">
                <div class="card__info">
                    <p class="card__price">
                        <span class="card__price-value">689</span>
                        <span class="card__price-unit">₽</span>
                    </p>
                    <p class="card__name">Мясная бомба</p>
                    <p class="card__weight">
                        <span class="card__weight-value">520</span>
                        <span class="card__weight-unit">&nbsp;г</span>
                    </p>
                </div>
                <button class="button button_card__action">Добавить</button>
            </div>
        </article>
    </li>
</menu>