<menu class="category__menu">
    <li class="category__menu-item">
        <article class="category__product product"
            aria-label="карточка продукта">
            <img class="product__image"
                src="/assets/img/photo-5.jpg"
                alt="мясная бомба">
            <div class="product__price unit-value">
                <span class="product__price-amount unit-value__amount">689</span><span
                    class="product__price-currency unit-value__unit">₽</span>
            </div>
            <h3 class="product__title">
                <button class="product__detail">Мясная бомба</button>
            </h3>
            <div class="product__weight unit-value">
                <span class="product__weight-amount unit-value__amount">520</span><span
                    class="product__weight-currency unit-value__unit">г</span>
            </div>
            <button class="product__add add-button">Добавить</button>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__product product"
            aria-label="карточка продукта">
            <img class="product__image"
                src="/assets/img/photo-1.jpg"
                alt="мясная бомба">
            <div class="product__price unit-value">
                <span class="product__price-amount unit-value__amount">550</span><span
                    class="product__price-currency unit-value__unit">₽</span>
            </div>
            <h3 class="product__title">
                <button class="product__detail">Супер сырный</button>
            </h3>
            <div class="product__weight unit-value">
                <span class="product__weight-amount unit-value__amount">512</span><span
                    class="product__weight-currency unit-value__unit">г</span>
            </div>
            <button class="product__add add-button">Добавить</button>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__product product"
            aria-label="карточка продукта">
            <img class="product__image"
                src="/assets/img/photo-3.jpg"
                alt="мясная бомба">
            <div class="product__price unit-value">
                <span class="product__price-amount unit-value__amount">639</span><span
                    class="product__price-currency unit-value__unit">₽</span>
            </div>
            <h3 class="product__title">
                <button class="product__detail">Сытный</button>
            </h3>
            <div class="product__weight unit-value">
                <span class="product__weight-amount unit-value__amount">580</span><span
                    class="product__weight-currency unit-value__unit">г</span>
            </div>
            <button class="product__add add-button">Добавить</button>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__product product"
            aria-label="карточка продукта">
            <img class="product__image"
                src="/assets/img/photo.jpg"
                alt="мясная бомба">
            <div class="product__price unit-value">
                <span class="product__price-amount unit-value__amount">480</span><span
                    class="product__price-currency unit-value__unit">₽</span>
            </div>
            <h3 class="product__title">
                <button class="product__detail">Тяжелый удар</button>
            </h3>
            <div class="product__weight unit-value">
                <span class="product__weight-amount unit-value__amount">470</span><span
                    class="product__weight-currency unit-value__unit">г</span>
            </div>
            <button class="product__add add-button">Добавить</button>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__product product"
            aria-label="карточка продукта">
            <img class="product__image"
                src="/assets/img/photo-2.jpg"
                alt="мясная бомба">
            <div class="product__price unit-value">
                <span class="product__price-amount unit-value__amount">450</span><span
                    class="product__price-currency unit-value__unit">₽</span>
            </div>
            <h3 class="product__title">
                <button class="product__detail">Вечная классика</button>
            </h3>
            <div class="product__weight unit-value">
                <span class="product__weight-amount unit-value__amount">450</span><span
                    class="product__weight-currency unit-value__unit">г</span>
            </div>
            <button class="product__add add-button">Добавить</button>
        </article>
    </li>
    <li class="category__menu-item">
        <article class="category__product product"
            aria-label="карточка продукта">
            <img class="product__image"
                src="/assets/img/photo-4.jpg"
                alt="мясная бомба">
            <div class="product__price unit-value">
                <span class="product__price-amount unit-value__amount">560</span><span
                    class="product__price-currency unit-value__unit">₽</span>
            </div>
            <h3 class="product__title">
                <button class="product__detail">Итальянский</button>
            </h3>
            <div class="product__weight unit-value">
                <span class="product__weight-amount unit-value__amount">510</span><span
                    class="product__weight-currency unit-value__unit">г</span>
            </div>
            <button class="product__add add-button">Добавить</button>
        </article>
    </li>
</menu>