<menu class="catalog__menu menu">
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--burger menu-button--active">Бургеры</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--snack">Закуски</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--hotdog">Хот-доги</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--combo">Комбо</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--shawerma">Шаурма</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--pizza">Пицца</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--wok">Вок</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--dessert">Десерты</button>
    </li>
    <li class="menu__item">
        <button class="menu__button menu-button menu-button--souce">Соусы</button>
    </li>
</menu>