<section class="catalog__order order"
    aria-label="корзина заказа">
    <div class="order__inner">
        <h3 class="order__header visually-hidden">Корзина</h3>
        <label class="order__summary"
            for="orderSummaryToggler"
            role="button"
            aria-label="показать/скрыть детали заказа">
            <span class="order__summary-name"
                aria-label="количество позиций в заказе">Корзина</span>
            <span class="order__summary-count"
                aria-label="количество позиций в заказе">4</span></label>
        <input class="order__summary-toggler visually-hidden"
            type="checkbox"
            name="orderSummaryToggler"
            id="orderSummaryToggler">
        <div class="order__list-container">
            <ul class="order__list">
                <li class="order__list-item">
                    <article class="order__card card card--horizontal card--orderable"
                        aria-label="карточка продукта">
                        <img src="/assets/img/card-order.webp"
                            class="card__image"
                            aria-label="изображение продукта" />
                        <div class="card__body">
                            <div class="card__info">
                                <p class="card__price">
                                    <span class="card__price-value">689</span>
                                    <span class="card__price-unit">₽</span>
                                </p>
                                <p class="card__name">Мясная бомба</p>
                                <p class="card__weight">
                                    <span class="card__weight-value">520</span>
                                    <span class="card__weight-unit">&nbsp;г</span>
                                </p>
                            </div>
                            <button class="order__card-button card-button">Добавить</button>
                        </div>
                        <div class="card__counter">
                            <button class="card__counter-button card__counter-button--minus">-</button>
                            <label class="card__counter--amount">1</label>
                            <button class="card__counter-button card__counter-button--plus">+</button>
                        </div>
                    </article>
                </li>
                <li class="order__list-item">
                    <article class="order__card card card--horizontal card--orderable"
                        aria-label="карточка продукта">
                        <img src="/assets/img/card-free.webp"
                            class="card__image"
                            aria-label="изображение продукта" />
                        <div class="card__body">
                            <div class="card__info">
                                <p class="card__price">
                                    <span class="card__price-value">689</span>
                                    <span class="card__price-unit">₽</span>
                                </p>
                                <p class="card__name">Картошка фри</p>
                                <p class="card__weight">
                                    <span class="card__weight-value">180</span>
                                    <span class="card__weight-unit">&nbsp;г</span>
                                </p>
                            </div>
                            <button class="order__card-button card-button">Добавить</button>
                        </div>
                        <div class="card__counter">
                            <button class="card__counter-button card__counter-button--minus">-</button>
                            <label class="card__counter--amount">2</label>
                            <button class="card__counter-button card__counter-button--plus">+</button>
                        </div>
                    </article>
                </li>
                <li class="order__list-item">
                    <article class="order__card card card--horizontal card--orderable"
                        aria-label="карточка продукта">
                        <img src="/assets/img/card-hot.webp"
                            class="card__image"
                            aria-label="изображение продукта" />
                        <div class="card__body">
                            <div class="card__info">
                                <p class="card__price">
                                    <span class="card__price-value">689</span>
                                    <span class="card__price-unit">₽</span>
                                </p>
                                <p class="card__name">Жгучий хот-дог</p>
                                <p class="card__weight">
                                    <span class="card__weight-value">245</span>
                                    <span class="card__weight-unit">&nbsp;г</span>
                                </p>
                            </div>
                            <button class="order__card-button card-button">Добавить</button>
                        </div>
                        <div class="card__counter">
                            <button class="card__counter-button card__counter-button--minus">-</button>
                            <label class="card__counter--amount">1</label>
                            <button class="card__counter-button card__counter-button--plus">+</button>
                        </div>
                    </article>
                </li>
            </ul>
            <div class="order__total">
                <p class="order__total-text">Итого</p>
                <p class="order__total-number">
                    <span class="order__total-value">1279</span><span class="order__total-unit">₽</span>
                </p>
            </div>

            <button class="order__confirm-button order-button">Оформить заказ</button>
            <div class="order__footer">
                <div class="order__footer-appeal">
                    <p class="order__appeal-text">Бесплатная доставка</p>
                </div>
                <label class="order__footer-hide visible-mobile"
                    for="orderSummaryToggler"
                    role="button"
                    aria-label="свернуть детали заказа">Свернуть</label>
            </div>
        </div>
    </div>
</section>