<header class="header">
    <div class="container header__container">
        <svg width="153"
            height="35">
            <use href="/assets/svg/sprites.svg#icon-logo"></use>
        </svg>

        <div class="header__title-container">
            <h1 class="header__title">Только самые<br><em>сочные бургеры!</em>
            </h1>
            <p class="header__appeal">Бесплатная доставка от 599₽</p>
        </div>
    </div>
</header>