<header class="header">
    <div class="container header__container">
        <a class="header__logo"
            href="#"
            aria-label="link to home page">
            <svg class="header__logo-img"
                aria-label="logo image"
                width="153"
                height="35">
                <use href="/assets/svg/sprites.svg#icon-logo"></use>
            </svg>
        </a>

        <div class="header__title-container">
            <h1 class="header__title">Только самые<br><em>сочные бургеры!</em>
            </h1>
            <p class="header__appeal">Бесплатная доставка от 599₽</p>
        </div>
    </div>
</header>