@use 'media' as *;
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: var(--containerWidthMin);
    min-height: 100svh;

    font-family: var(--font-family);
    color: var(--colorDark);
    background-color: var(--colorBg);
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    line-height: 0;
}

button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 0;
}

ul:where([class]) {
    list-style: none;
    padding: 0;
    margin: 0;
}

p:where([class]){
    margin: 0;
}

h1,
h2,
h3,
h4,
figure {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    bottom: 0;
}

iframe {
    border: none;
}

.container {
    max-width: calc(var(--containerWidth) + 2 * var(--containerPaddingInline));
    padding-inline: var(--containerPaddingInline);
    margin: 0 auto;
}
@include tablet {
    html {
        --containerPaddingInline: 64px;
    }
}

@include desktop {
    html {
        --containerPaddingInline: 32px;
    }
}

@include desktop-l {
    html {
        --containerPaddingInline: 74px;
    }
}