@use 'media' as *;

@mixin text-clamp($min, $max) {
    font-size: clamp(#{$min}px, #{calc($max / $maxWidth * 100)}vw, #{$max}px);
}
@mixin visually-hidden {
    position: fixed;
    scale: 0;
    opacity: 0;
    width: 1;
    height: 1;
    max-width: -1px;
}