.app-stamp {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    backdrop-filter: brightness(10%);
    font-size: 11px !important;
    font-weight: bold;
    height: 1.5em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    z-index: 999;

    p {
        color: #FFFFFFC0;
        line-height: 0;
    }
}